# OS-specific files
.directory
Thumbs.db
desktop.ini
Desktop.ini
.DS_Store

# Temporary files
*.~swp
*.swp
*.tmp
*.bkp

# Python byte code
*.pyc
*.pyo

# certain image formats
*.psd
*.ai
*.xcf

# package files
*.zip

# IDE files and directories
.idea
